[Unit]
Description=Calendar proxy service

[Service]
Type=simple
ExecStart=/home/ajc/.cargo/bin/calendar-proxy
Restart=on-failure

[Install]
WantedBy=default.target
